@model TradeYou.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PId" />
            <div class="form-group">
                <label asp-for="PProductname" class="control-label"></label>
                <input asp-for="PProductname" class="form-control" />
                <span asp-validation-for="PProductname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PPrice" class="control-label"></label>
                <input asp-for="PPrice" class="form-control" />
                <span asp-validation-for="PPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PQuantity" class="control-label"></label>
                <input asp-for="PQuantity" class="form-control" />
                <span asp-validation-for="PQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PMade" class="control-label"></label>
                <input asp-for="PMade" class="form-control" />
                <span asp-validation-for="PMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PNewUsed" class="control-label"></label>
                
                <select asp-for="PNewUsed" name="newused" id="newused">
                    <option value="1">New</option>
                    <option value="2">Used</option>
                </select>
                <span asp-validation-for="PNewUsed" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="PImagePath" class="control-label"></label>
                <input asp-for="PImagePath" class="form-control" />
                <span asp-validation-for="PImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
