<h1>Save Successful!</h1>

<script type='text/javascript'>
    setTimeout(
                    function ()
                    {
                        location.href = '../Home'
                    },
                1000);
</script>