@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We want Trade You to be a safe and trusted place. We do this via the products and services we build, and our commitment to your privacy. It’s important to us that you trust Trade Me and the things we do with your personal information.

    This policy is straight up about how we collect, use, disclose and protect your personal information. We bring diverse people together in our Trade Me community, and we take our responsibility to protect your personal information very seriously. We collect and use your personal information to deliver our vision of making life better for Kiwis through online experiences you’ll love. We’re committed to following four principles in relation to your information:

    We will respect your privacy—our brand is built on trust and integrity.
    We’re committed to being transparent and honest, so you know what we do with your personal information (including if something goes wrong).
    We use personal information to add value to your life.
    We avoid getting involved in anything creepy that could breach your trust.
</p>
